<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% user.forEach(data => { %>
        <title>re-ad: <%= data.name %></title>
    <% }); %>
</head>
<body>
    <div>
        <%- include("./modules/nav", { req: req })  %>
        <div>
            <div>
                <% user.forEach(data => { %>
                    <h1><%= data.name %></h1>
                    <p>part of these communitys:</p>
                    <% list.forEach(list => { %>
                        <% if (list.status === 2) { %>
                            <% name_list.forEach(listn => { %>
                                <a href="/community/<%= list.com_id %>"><%= listn.name %></a>
                            <% }) %>
                        <% } %>
                    <% }) %>
                <% }) %>
            </div>        
        </div>
    </div>
</body>
</html>